<div class="d-flex flex-column m-3">
  <% if user_signed_in? %>
    <h5>Welcome, <%= current_user.email %></h5>
    <hr>
    <div class="row mt-3 mb-3">
      <div class="col-lg-5 mx-lg-auto mt-5">
        <div class="card shadow border-0">
          <div class="card-body bg-light">
            <%= link_to "Events", events_path, class: 'btn btn-lg btn-info text-white d-block my-3 mx-5' %>
          </div>
        </div>
      </div>
      <div class="col-lg-5 mx-lg-auto mt-5">
        <div class="card shadow border-0">
          <div class="card-body bg-light">
            <%= link_to "New Event", new_event_path, class: 'btn btn-lg btn-info text-white d-block my-3 mx-5' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  Sign in to continue!
<% end %>
